#page_wrapper
  #profile_image
    = image_tag "profile.jpeg"
  #content
    %h1 Mr. Smile
    %p I'm baby pitchfork locavore swag glossier woke neutra tbh stumptown ethical. Man braid hexagon chillwave, organic gentrify lyft lumbersexual yr celiac pour-over. Thundercats put a bird on it flannel shaman semiotics 3 wolf moon scenester tacos synth chicharrones. Kogi biodiesel asymmetrical, subway tile enamel pin bicycle rights schlitz.Yr heirloom green juice, slow-carb pabst polaroid hoodie church-key before they sold out pug single-origin coffee. Freegan air plant skateboard intelligentsia echo park. Man bun before they sold out banh mi selvage, hella readymade keffiyeh iceland snackwave. Subway tile listicle twee cronut, authentic brunch godard roof party keffiyeh taxidermy. Tacos tousled gentrify poke hexagon raw denim godard humblebrag typewriter quinoa pork belly listicle single-origin coffee farm-to-table.